body{
  background-color: rgb(81, 185, 245);
}


.container{
  background: white;
  margin-top: -8px;
  box-shadow: 0px 0px 10px 5px #909090;
  position: relative;

  


}

.container-sheet{
  font-size: 18PX;  
  padding: 15px;
  line-height: 1.5;
}

.container-sheet li{
  list-style: none;
  
}

.container-sheet img{
  border: 8px solid blue;
  border-radius: 50%;
  position: absolute;
  margin-top: -230px;
  margin-left: 800px;
}



.title{
  background: blue;
  color: white ;
  text-align: center;
  padding: 25px;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  /* border: 2px solid black;] */
  box-shadow: 0px 0px 10px 2px #909090;

}
