body{
  background-color: rgb(81, 185, 245);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.container{
  background: white;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 5px #909090;
  position: relative;
  padding: 20px;
  width: 90%;
  margin-left: 45px;
  margin-right: 45px;


}

.container-sheet{
  font-size: 18PX;  
  padding: 15px;
  line-height: 1.5;
}

.container-sheet li{
  list-style: none;
  
}

.container-sheet img{
  border: 8px solid rgb(81, 185, 245);
  border-radius: 50%;
  position: absolute;
  margin-top: -225px;
  margin-left: 800px;
  padding: 3px
}



.title-principal{
  background: blue;
  color: yellow ;
  text-align: center;
  padding: 25px;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  /* border: 2px solid black;] */
  box-shadow: 0px 0px 10px 2px #909090;

}

.title{
  background: blue;
  color: white ;
  text-align: left;
  padding: 25px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  /* border: 2px solid black;] */
  box-shadow: 0px 0px 10px 2px #909090;
  height: 15px;
  font-style: italic;
}

.container p{
  font-size: 18PX;  
  padding: 10px 55px;
  line-height: 1.5;
  margin-right: 90px;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: -25PX;
  margin-top: 5px;
}

.cursos{
line-height: 0;
font-size: 18px;
display: flex;
margin-left:150px;
margin-right: 50px;
margin-top: 45px;
}


.Exp-laboral{
  font-size: 18PX;  
  padding: 10px 55px;
  line-height: 1.5;
  margin-right: 90px;
  font-size: 18px;
  line-height: 1.5;
   
}
 
.empresa{
background: rgb(81, 185, 245);
border-radius: 5px;
border: 1px solid #909090;
box-shadow: 0px 0px 10px 1px #909090;
}

.empresa strong{
  font-size: 25px;
  font-weight: 800;
}


.Exp-laboral ol{
  padding: 0 80px;
  margin-top: 40px;
  
}

